@tailwind base;
@tailwind components;
@tailwind utilities;

.menu{
    min-width: 200px;
    width: auto;
    border-radius: 4px;
    box-shadow: 3px 3px 7px black;
    border:1px solid cyan;
  }
.menu .item{
    padding:3px;
  }
  
.menu .item:hover{
    @apply bg-gray-800;
    cursor: pointer;
    border:1px solid cyan;
  }